a{
    text-decoration: none;
    color: #cdcdcd;
}

.dropdown-menu {
    background-color: #2a3647;
    color: #cdcdcd;
    height: 158px;
    width: 150px;
    border-radius: 20px 0 20px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    position: absolute;
    top: 96px; 
    right: 64px;
    transition: top 0.3s ease-in-out;
    z-index: 1;
    visibility: hidden;
}

.dropdown-menu.show {
    visibility: visible;
}

.dropdown-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.dropdown-content-div div {
    height: 46px;
    width: 130px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
    padding-right: 0;
}

.dropdown-content-div div:hover {
    background-color: #2a4a7a;
    color: #cdcdcd;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 425px) {
    .dropdown-menu {
        right: 16px;
        width: 140px;
        height: 140px;
        top: 64px;
    }
    
    .dropdown-content-div div {
        height: 40px;
        width: 120px;
        font-size: 14px;
    }
}

/* Extra kleine Bildschirme */
@media (max-width: 320px) {
    .dropdown-menu {
        right: 10px;
        width: 120px;
        height: 130px;
        border-radius: 15px 0 15px 15px;
    }
    
    .dropdown-content-div div {
        height: 35px;
        width: 100px;
        font-size: 13px;
    }
}
