/* side menu */


.logo {
    width: 100px;
}

.side-menu {
    background-color: #2a3647;
    height: 100vh;
    color: white;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
    flex-direction: column;
    padding-top: 64px;
    width: 232px;
    position: sticky;
    z-index: 1000;
}

.side-menu a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 400px;
    width: 232px;
    text-align: right;
    padding-left: 64px;
}

.menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 229px;
    gap: 15px;
}

.menu-content-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 232px;
    height: 46px;
}

.menu-content-div:hover {
    background-color: #2a4a7aa1;
}

.menu-content img {
    padding-right: 8px;
    height: 30px;
    width: 30px;
}

.logo-content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.policy-container {
    height: 317px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.selected-menu {
    background-color: #091931;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 232px;
    height: 46px;
}

.selected-menu-resources {
    background-color: #091931;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 232px;
    height: 32px;
}

.policy-container-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 232px;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.policy-container-div a {
    color: #a8a8a8;
}

.policy-container-div a:hover {
    color: #28abe2;
    transform: scale(1.05); 
    transition: transform 0.0s linear; 
}


    
    

