body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    scroll-behavior: smooth;
    font-family: inter;
    height: 100vh;
    background-color: #f5f7f9;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
    color: #2a3647;
}

a{
    text-decoration: none;
}

.flexrow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    
}

.flexcolumn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
