/* Responsive Styles */
@media (max-width: 925px) {
    .headline-header{
        display: none;
    }

    .main-div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        width: 100%;
        flex: 1;
    }
    .main-header {
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
    }

   .headline-header {
        display: none;
    }
    .header-right-side img{
        display: none;
    }

    .header-right-side {
      
        justify-content: space-between;
        gap: 8px;
    }

    .account {
        width: 48px;
        height: 48px;
        font-size: 28px;
    }

    .header-Logo {
        height: 39px;
        width: 32px;
        display: block;
    }
}

@media (max-width: 440px) {
    .main-header {
        height: 64px;
        font-size: 16px; 
        padding: 10px 0;
    }

    .header-right-side {
        gap: 8px;
       
    }

    .account {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }

    .header-Logo {
            display: block;
            width: 32px;
            height: 39px
        }

    .header {
        padding: 10px;
    }
}

/* Anpassungen für sehr kleine Bildschirme */
@media (max-width: 375px) {
    .main-header {
        height: 56px;
        padding: 8px 0;
    }

    .account {
        width: 38px;
        height: 38px;
        font-size: 22px;
    }
}

/* Extra kleine Bildschirme */
@media (max-width: 320px) {
    .main-header {
        height: 48px;
        padding: 5px 0;
        width: 95%;
    }

    .account {
        width: 35px;
        height: 35px;
        font-size: 18px;
        border-width: 2px;
    }
    
    .header-Logo {
        width: 28px;
        height: 32px;
    }
    
    .header {
        padding: 5px;
    }
}
