/* Responsive Styles */
@media (max-width: 425px) {
    .dropdown-menu {
        right: 16px;
        width: 140px;
        height: 140px;
        top: 64px;
    }
    
    .dropdown-content-div div {
        height: 40px;
        width: 120px;
        font-size: 14px;
    }
}

/* Extra kleine Bildschirme */
@media (max-width: 320px) {
    .dropdown-menu {
        right: 10px;
        width: 120px;
        height: 130px;
        border-radius: 15px 0 15px 15px;
    }
    
    .dropdown-content-div div {
        height: 35px;
        width: 100px;
        font-size: 13px;
    }
}
