/* Responsive Styles */
@media (max-width: 925px) {
    body {
        flex-direction: column-reverse;
        overflow-y: auto;
    }
    
}

@media (max-width: 425px) {
    body {
        font-size: 14px;
    }
    
    .flexrow, .flexcolumn {
        gap: 10px;
    }
}

@media (max-width: 320px) {
    body {
        font-size: 13px;
    }
    
    .flexrow, .flexcolumn {
        gap: 8px;
    }
}
