html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.sticky-link {
    position: sticky;
    top: 0; 
    z-index: 1000; 
}

.main-div {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    max-width: 90%;
    margin: 20px auto;
    background: #f6f7f9;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

main p {
    padding-top: 2px;
    
    margin: 0; 
    max-width: 1016px;
}

section {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden; 
}

h1, h2, h3 {
    color: #2a3647;
    margin: 0; 
}


a{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
}

p {
    margin: 10px 0;
    font-weight: 400;
    font-size:16px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

h1{
    font-size:61px;
    color: black;
    font-weight: 700;
}

h4{
    font-weight: 400;
    font-size: 16px;
}


section::-webkit-scrollbar {
    width: 8px; 
}

section::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

section::-webkit-scrollbar-thumb {
    background-color: #28abe2; 
    border-radius: 10px; 
    border: 2px solid #f1f1f1; 
}


section {
    scrollbar-width: thin; 
    scrollbar-color: #28abe2 #f1f1f1; 
}

.header-and-main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

p1{
    color: #28abe2;
}
