/* ###################################### */

p{
    margin:0;
}

.main-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    max-height: 870px;
    max-width: 1116px;
    height: 70vh !important;
    width: 70vw !important;
    padding: 30px;
    border-radius: 30px;
    border: 1px solid #D1d1d1;
    opacity: 0;
    transform: translate(100vw, -50%);
    animation: slideIn 0.2s ease-out forwards;
}

@keyframes slideIn {
    from {
        transform: translate(100vw, -50%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}



required-field{
    vertical-align: super;
    color:red;
}

span{
    font-family: inter;
    font-weight: 400;
    font-size:20px;
    color: #2a3548;
}


.flrow {
    display: flex;
    justify-content: space-between;
    width: 440px;
    flex-direction: column;
    gap: 8px;
}

.modal-background{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.444);
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}

.headline-div-modal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    
}

.headline-div-modal h1{
    padding-left:74px;
    margin:0;
    display:flex;
}

.headline-div-modal img{
    padding-right:74px;
    height: 24px;
    width: 24px;
}

.headline-div-modal img:hover{
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(34%) sepia(100%) saturate(748%) hue-rotate(162deg) brightness(97%) contrast(101%);

}


/* ++++++++++++++++++++++++++++++++++++++++++++++++ */

@media (max-width: 925px) {
    .main-section {
        width: 90%; 
        height: auto;
    }

    

    .flrow {
        width: 100%; 
    }

    .headline-div-modal h1 {
        padding-left: 16px; 
    }

    .headline-div-modal img {
        padding-right: 16px; 
    }
}

@media (max-width: 440px) {


    .headline-div-modal h1 {
        font-size: 28px; 
        padding-left: 8px; 
    }

    .headline-div-modal img {
        padding-right: 8px;
    }

    .close-modal-div-x img{
        padding-top:29px !important;
    }

    .create-btn{
        padding:0 !important;
    }

    .footer-cover-div{
        bottom:24px !important;
        position:fixed;
    }

    .footer-mid-div{
        margin-top:0 !important;
        height:50px !important;
        justify-content:center !important;
    }

    .headline-div{
        padding-bottom:0;
    }

    .main-section{
        gap:12px !important;
    }

    .create-btn{
        height:42px !important;
    }

    .footer-btn{
        width:226px !important;
    }

    .clear-btn{
        height:39px !important;
        width:92px !important;
    }

    .description{
        width:90% !important;
    }



}

.add-task-button-resp{
    display: none;
}

.add-task-button-a{
    display: none;
}

@media (max-width:770px){
   

    .add-task-button-a{
        display: block;
    }
}

@media (max-width:730px){
    .subtask{
        width:78% !important;
    }

    .category-dropdown{
        width:92% !important;
    }
}


@media (max-width:1150px){
    .priority-button-urgent{
        flex-direction: column;
    }

    .priority-button-medium{
        flex-direction: column;
    }

    .priority-button-low{
        flex-direction: column;
    }
}


@media (max-width:550px){
    .priority-container{
        flex-direction: column;
    }

    .priority-button-urgent{
        flex-direction: row;
        width:99% !important;
    }

    .priority-button-medium{
        flex-direction: row;
        width:99% !important;
    }

    .priority-button-low{
        flex-direction: row;
        width:99% !important;
    }
}


@media (max-width:480px){
    .clear-btn-board-add-task{
        padding:0 !important;
    }

    .form-div{
        /* margin-top:100px !important; */
        /* margin-bottom:150px; */
        max-height:419px;
    }

   

    .footer-mid-div{
        height:48px;
        align-items: flex-end !important;
        margin-top:0 !important;

    }

    .footer-btn{
        padding-bottom:36px;
    }

    .footer{
        padding-top:0 !important;
        padding-bottom:0 !important;

    }

    .main-form-div{
        height:70% !important;
    }

    .category-dropdown{
        padding:6px !important; 
    }

    .subtask{
        height:36px !important;
        width:70% !important;
        
    }

    .subtask-wrapper{
        padding:0 !important;
    }

    .subtask-container{
        padding-top:24px;
    }

    .input{
        height:36px !important; 
        max-width:99% !important;
    }

    .description{
        width:93%;
    }

    .description-resp{
        padding-bottom:24px;
        padding-top:24px;
    }

    .dropdown-search{
        width:91% !important;
    }

    .date-input{
        width:91% !important;
        
    }

    .date-input-container{
        width:98%;
        padding-bottom:24px;
    }

    .priority-button-urgent{
        width:98% !important;
        height: 46px !important;;
    }


    .priority-button-medium {
        width:98% !important;
        height: 46px !important;
    }

    .priority-button-low {
        width:98% !important;
        height:46px !important;
    }

    .priority-container{
        padding-bottom:24px;
    }

    .footer-btn{
        flex-direction: row !important;
    }

    .footer-mid-div{
        height:90px;
        margin-top:24px;
    }

    .footer-btn{
        padding-bottom:0;
    }

    .main-section{
        justify-content:flex-start !important;
        height:64vh !important;
    }

}

@media (max-width:440px){
    .subtask{
        padding-right:63px !important;
    }
}




@media (max-height:670px){


    .clear-btn-board-add-task{
        height:34px !important;
        width:68px !important;
    }

    .create-btn{
        height:46px !important;
        padding:12px !important;
        width:100px !important;
    }

    .form-div{
        height:290px;
    }

    .close-modal-div-x {
        position:absolute;
        top:-14px;
    }

    .headline-div{
        padding-top:100px;
    }

    .footer{
        padding-bottom:111px !important;
        padding-top:0 !important;
    }

    .input{
        height:36px !important;
    }

    .dropdown-list{
        position:absolute !important;
        width:90% !important;
    }

    .subtask{
        /* height:15px !important; */
        /* padding-right:12px !important; */
        width:68% !important;
    }

    .category-dropdown{
        padding:5px !important;
        height:36px;

    }

    .subtask-container{
        padding-top:12px;
    }

    .main-section{
        top:10%;
    }

}

@media (max-width:480px){
    .footer-mid-div{
        height:42px;
    }

    .main-section{
        gap:3px;
    }
}

@media (max-height:940px){
    .form-div{
        max-height:426px;
    }

    .headline-div{
        padding-bottom:0 !important;
    }

    
}

@media (max-height:850px){
    .form-div{
        max-height:323px;
    }

    .main-section{
        gap:17px !important;
        height:57vh !important;
    }

    .headline-div{
        height:36px;
    }
}

@media (max-height:750px){
    .headline-div{
        padding-top:0;
    }

    .form-div{
        max-height:274px;
    }

    .main-section{
        gap:3 !important;
    }
}

@media (max-height:670px){
    .create-btn{
        padding:0 !important;
        height:36px !important;
    }

    .footer-btn{
        width:176px !important;
    }

    .close-modal-div-x img{
        padding-top: 81px !important;
        padding-right: 12px !important;
    }
}

@media (max-height:657px){
    .form-div{
        max-height:225px;
    }
}