@media (max-width: 1090px) {
    .avatar-circle {
        width: 100px;
        height: 100px;
    }

    .avatar-circle-contact-details {
        width: 100px;
        height: 100px;
        font-size: 40px;
    }

    .contact-details-panel {
        width: calc(100% - 400px);
        padding: 86px 40px;
    }

    .contact-details-content-header {
        gap: 20px;
    }

    .modal-content {
        display: flex;
        width: 900px;
        height: 510px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: white;
        border-radius: 24px;
    }

    .modal-left {
        padding: 0 20px 44px 16px;
    }

    .modal-left h2 {
        font-size: 56px;
        margin: 0;
        font-weight: bold;
    }

    .modal-logo img {
        margin-bottom: 16px;
        width: 56px;
        height: 66px;
    }
}

@media (max-width: 925px) {
    .header-text {
        display: none;
    }
}

@media (max-width: 860px) {
    .avatar-circle-contact-details {
        width: 80px;
        height: 80px;
        font-size: 32px;
    }

    .contact-details-panel {
        padding: 30px 0 0 30px;
        width: calc(100% - 320px);
    }

    .contacts-header {
        display: flex;
        flex-direction: column;
        margin-bottom: 52px;
        align-items: flex-start;
    }

    .contacts-header hr {
        height: 4px;
        margin: 0;
        background-color: #29ABE2;
        border: none;
        border-radius: 5px;
        width: 160px;
    }

    .contacts-header h1 {
        font-size: 45px;
    }

    .contact-subtitle {
        font-size: 20px;
    }

    .contact-name-large {
        font-size: 34px;
    }

    .edit-icon {
        height: 24px;
    }

    .delete-icon {
        height: 24px;
    }

    .contact-information-text {
        font-size: 16px;
    }

    .contact-information-details h4 {
        font-size: 18px;
    }

    .contact-detail-email span {
        font-size: 18px;
    }

    .contact-detail-phone span {
        font-size: 18px;
    }

    .contacts-list-panel {
        width: 320px;
    }

    .mobile-back-button {
        display: none;
    }
}



@media (max-width: 750px) {
    .modal-content {
        width: 560px;
        height: 760px;
        flex-direction: column;
    }

    .modal-left {
        width: 456px;
        height: 200px;
        border-radius: 24px 24px 0 0;
        justify-content: center;
        padding: 0 53px;
    }

    .modal-left h2 {
        font-size: 32px;
        font-weight: 500;
    }

    .modal-hr {
        width: 130px;
        height: 3px;
    }

    .modal-subtitle {
        font-size: 18px;
    }

    .modal-right {
        width: 100%;
        padding: 0;
    }

    .modal-logo {
        display: none;
    }

    .close-icon-white {
        display: block;
        width: 28px;
        height: 28px;
        position: absolute;
        top: 20px;
        right: 16px;
    }

    .close-icon-container {
        display: none;
    }

    .contact-avatar-section {
        flex-direction: column;
    }

    .input-and-button {
        margin-top: 88px;
    }

    .avatar-circle {
        top: 150px;
        position: fixed;
        right: 218px;
        font-weight: 400;
        font-size: 36px;
    }
}

@media (max-width: 600px) {
    .modal-right {
        padding: 0;
    }

    .delete-contact-btn {
        display: none;
    }

    .edit-contact-btn {
        display: none;
    }

    .mobile-action-menu-container {
        display: block;
    }

    .mobile-action-menu {
        position: fixed;
        bottom: 170px;
        right: 25px;
        padding: 12px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 1.2s;
        gap: 10px;
        flex-direction: column;
        overflow: hidden;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .mobile-action-button {
        width: 56px;
        height: 56px;
        border-radius: 56px;
        border: 1px solid #2a3647;
        background-color: #2a3647;
        box-shadow: 0px 4px 4px 0px #00000040;
        position: fixed;
        bottom: 110px;
        right: 25px;
        background-size: 32px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 300;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
        margin-bottom: 0;
        font-size: 34px;
        color: white;
    }

    .add-contact-section-mobile {
        display: block;

    }

    .add-contact-section {
        display: none;
    }

    .add-contact-btn-mobile {
        width: 56px;
        height: 56px;
        border-radius: 56px;
        border: 1px solid #2a3647;
        background-color: #2a3647;
        box-shadow: 0px 4px 4px 0px #00000040;
        position: fixed;
        bottom: 110px;
        right: 25px;
        background-size: 32px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 300;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
        margin-bottom: 0;
    }

    .avatar-circle {
        width: 100px;
        height: 100px;
        font-size: 36px;
    }

    .account {
        width: 40px;
        height: 40px;
    }

    .contacts-list-panel {
        width: 100%;
        padding: 20px;
        box-shadow: none;
        border-right: none;
    }

    .contact-details-panel {
        width: 100%;
        padding: 20px;
        display: none;
    }

    .contact-details-panel.show-mobile {
        display: block;
    }

    .contacts-list-panel.hide-mobile {
        display: none;
    }

    .contacts-header {
        margin-bottom: 30px;
        position: relative;
        margin-top: 30px;
    }

    .contacts-header h1 {
        font-size: 48px;
    }

    .contact-subtitle {
        font-size: 18px;
    }

    .contacts-header hr {
        width: 100px;
        height: 3px;
    }

    .mobile-back-button {
        position: absolute;
        top: 11px;
        right: 66px;
        background: none;
        border: none;
        color: #29ABE2;
        cursor: pointer;
        padding: 8px;
        transition: opacity 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-back-button:hover {
        opacity: 0.7;
    }

    .return-button-contacts {
        width: 32px;
        height: 32px;
        display: block;
    }

    .add-contact-btn {
        width: 100%;
        font-size: 20px;
        height: 50px;
    }

    .contact-email {
        font-size: 16px;
    }

    .avatar-contact-circle {
        width: 42px;
        height: 42px;
        font-size: 16px;
    }

    .contact-details-content-header {
        gap: 20px;
        margin-bottom: 30px;
    }

    .contact-name-large {
        font-size: 36px;
        margin-bottom: 15px;
    }

    .contact-actions {
        gap: 12px;
    }

    .contact-information-text {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .contact-information-details h4 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .contact-detail-email span,
    .contact-detail-phone span {
        font-size: 16px;
    }

    .logo-content-container-bottom {
        width: 100%;
    }

    .contact-avatar-section {
        flex-direction: column;

    }
}

@media (max-width: 480px) {
    .modal-content {
        width: 440px;
    }

    .modal-left {
        width: 336px;
    }

    .avatar-circle {
        top: 150px;
        position: fixed;
        right: 165px;
        font-weight: 400;
    }
}

@media (max-width: 380px) {
    .modal-content {
        width: 360px;
    }

    .modal-left {
        width: 256px;
    }
    .contact-avatar-section{
        width: 80%;
    }

    
    .avatar-circle {
        top: 150px;
        position: fixed;
        right: 130px;
        font-weight: 400;
    }
    .input-and-button-add{
    width: 100%;
}

.cancel-btn{
    display: none;
}
}