.task-form-container {
    display: flex;
    justify-content: space-around;
    gap: 8pc;
}

#addtask-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    scrollbar-width: none;
    padding: 88px 265px 32px 64px;
}

#addtask-container select {
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    flex: 1;
    padding-top: 6px;
    padding-bottom: 6px;
}

.padding-bottom {
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    /* flex: 1; */
    padding: 12px 4px 12px 4px;
    margin-bottom: 18px;
}

.subtask-input-group {
    display: flex;
}

.partition {
    height: 20pc;
}

.subtask-input-group input {
    border: 1px solid #D1D1D1;
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
    font-size: 16px;
    flex: 1;
}

.subtask-input-group button {
    border: 1px solid #D1D1D1;
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    color: #1F2A36;
}

#addtask-container h2 {
    font-size: 72px;
    padding-bottom: 3rem;
}

#addtask-container label {
    font-size: 20px;
}

label.star-red::after {
    content: "*";
    color: red;
}

.task-form-left {
    display: flex;
    flex-direction: column;
}

.task-form-left textarea {
    resize: none;
    height: 98px;
}

.task-form-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    content: url('../img/image.png ');
}

/* Change Button */
.priority-btn {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 8px;
    padding-top: 6px;
}

.priority-btn button {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 10px;
    padding-top: 16px;
    padding-right: 10px;
    padding-bottom: 16px;
    padding-left: 10px;
    gap: 8px;
    border: 1px solid #D1D1D1;
}

button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

/* last section */
.create-formerror {
    display: flex;
    justify-content: space-between;
    padding-top: 8pc;
}

.form-error::before {
    content: "*";
    color: red;
}

.form-error {
    font-size: 20px
}

.clear-creat-div {
    display: flex;
    gap: 16px;
}

#clear-task-btn {
    display: flex;
    font-size: 21px;
    padding: 12px;
    border-radius: 8px;
    background-color: #F5F7F9;
}

#create-task-btn {
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    padding: 12px;
    border-radius: 8px;
}

/* Urgent */
.btn-urgent.active-urgent {
    background-color: red;
    color: white;
}

.btn-urgent.active-urgent img {
    filter: brightness(0) invert(1);
}

/* Medium */
.btn-medium.active-medium {
    background-color: orange;
    color: white;
}

.btn-medium.active-medium img {
    filter: brightness(0) invert(1);
}

/* Low */
.btn-low.active-low {
    background-color: greenyellow;
    color: white;
}

.btn-low.active-low img {
    filter: brightness(0) invert(1);
}

.urgent-active-urgent {
    background-image: url(../img/priority-img/ferer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}